.favorites-section{
    color: #242424;
    margin-top: 10px;
    max-height: 300px; 
    overflow-y: auto;
}
.favorites-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .favorites-table th, .favorites-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .favorites-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .remove-btn {
    background: none;
    border: none;
    color: red;
    font-size: 1.1rem;
    cursor: pointer;
  }
  
  .remove-btn:hover {
    color: darkred;
  }
  
  